@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  --primary: #1C2633;
  --secondary: #0074D9;
  --text-primary: #616060;
}
nav > ul > li{
  font-weight: 500;
  font-size:1.2rem;
  color: var(--primary);
  font-family: 'Roboto';
}
.active{
  color:var(--secondary);
}
nav > ul > li:hover{
  color:#0074D9;
}
.btn-primary{
  border:2px solid #0074D9;
  transition: all 0.3s ease-out;
}
.btn-primary:hover{
  color:#0074D9;
  background-color: transparent; 
}
.product-card {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.banner{
  background-image: url('/images/banner.jpg');
  background-position: center;
}
.banner-text{
  text-shadow: 1px 1px black;
}
footer h3{
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
footer ul > li > a{
}

footer ul > li > a:hover{
  color:var(--secondary);
  opacity: 100%;
}
#category  option{
  background-color: blue;
}

@media (min-width: 1900px) {
nav > ul > li{
  font-size:1.6rem;
}
}